@import "~bootstrap/scss/bootstrap";

body {
    background-image: url('../../images/lego.png');
}
.lego-img {
    justify-content: center;
    height: 100px;
    width: 100px;
    object-position: 0 0;
    margin: 0 auto;
}
#lego-name {
    display: flex;
    flex-direction: row;
}
#lego-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    display:inline-block;
}
#choose-body {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
// #save {
    // justify-content: center;
//     width: 200px;
// }